form.form-search(action="#").field
  p._result 26 Results Found
  fieldset._field.field
    legend._legend.label Param 1

    mixin legend(x, type)
      - let n = 1;
        while n <= x
          label(for=`${type}_${n}` class=`${type}`)._label
            if (type == 'radio')
              input(id=`${type}_${n}` type=`${type}`, name=`radio-value` class=`form-search__${type}-item ${type}`)
              span._text= n++
            else
              input(id=`${type}_${n}` type=`${type}`, name=`value-${n}` class=`form-search__${type}-item ${type}`)
              span._text= n++

    +legend(5, 'checkbox')
  fieldset._field
    legend._legend.label Param 2
    +legend(3, 'radio')
  fieldset._field
    legend._legend.label Param 3
      p
        label(for="range_1")._label
          input#range_1(type="number" name="min")._range-item.input.is-small
        label(for="range_2")._label
          input#range_2(type="number" name="max")._range-item.input.is-small
  fieldset._field
    legend._legend.label Param 4
      p
        label(for="range_1")._label
          input#keyword(type="text" name="keyword")._keyword-item.input.is-small
  p
    input(type="submit" value="search")._submit-item.button.is-link